name: Deploy GitHub Pages

on:
  push:
    branches:
      - main # change this to match your repo

jobs:

  build-and-deploy:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 18.x

    - name: Install Dependencies
      run: |
        npm ci # or yarn install if using Yarn

    - name: Build
      run: |
        npm run build

    - name: Deploy GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }} # change the branch name to match your repo
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public